body {
  font-size: 1em;
  display: flex;
  background-color: rgb(200, 200, 200);
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

#upBar {
  padding: 1% 0 1%;
  margin: 0;
  color: white;
  width: 100%;
  background-color: rgb(50, 50, 50);
}

h3 {
  padding-left: 3em;
}

h1 {
  align-self: start;  
}

#mainfuc {
  width: 80%;
}

#addinput { 
  border-radius: 8px;
  border-color: rgb(200, 200, 200);
  font-size: 1.1em;
  text-align: center;
  width: 50%;
  height: 35px;
  margin: 0 50px;
}

.chec{
  height: 20px;
  width: 20px;
  align-self: center;
  margin: 0 20px;
}

#addbutton{
  background-color: rgb(30, 222, 224);
  height: 35px;
  width: 6%;
  border-radius: 7px;
}

.left { 
  display: flex;
  flex-direction: umn;
  align-items: center;
}

.search {
  display: flex;
  align-items: row;
  justify-content:center ;
  width: 100%;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 50px;
  background-color: rgb(150, 150, 150);
  margin: 20px 0;
}

.col { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#taskcont {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.del { 
  margin: 0 10px;
}

.trashimg{ 
  width: 40px;
}

.crossText {
  text-decoration: line-through;
  color: green;
  font-weight: bold;
}

p {
  font-size: 1.2em;
}
