img {
  width: 20em;
  margin: 10em 0 0 20em;
}

.infobox{
  color: rgb(200, 200, 200);
  width: 20em; 
  text-align: left;
  margin: 10em 5em;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.container{
  width: 100em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
