.table {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 5em;
  padding: 50px 50px;
}

.product {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 25em;
}

img{
  width: 10em;
  max-height: 300px;
}
